{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>About</h1>
        <p>
            findsimilarbooks.com is a book recommendation platform designed to help readers find books that match their preferences by analyzing both the titles and summaries of millions of books. 
            Our system uses <a href="https://de.wikipedia.org/wiki/Latent_Dirichlet_Allocation" target="_blank" rel="nofollow noopener">Latent Dirichlet Allocation</a> (LDA), a well-established topic modeling technique, to identify common themes and concepts across different works of literature.
            In simple terms, LDA is a way of finding hidden topics or themes within the text. It looks at the words used in a book's title and summary and groups books that use similar words and ideas together. 
            <br><br>
            This means we can recommend books that might not seem related at first glance, but actually share important themes or writing styles.
            By focusing on the description of the content of the books, rather than relying solely on genre labels or popularity, our platform provides recommendations that highlight deeper connections between books. 
            This allows us to suggest titles that may share similar themes, narrative styles, or subject matter, offering a more refined and tailored discovery experience.
            <br><br>
            Our goal is to support readers in exploring literature that resonates with their interests. 
            Whether you are looking to explore new genres, discover lesser-known authors, or simply find a book with a similar tone or theme to one you've already enjoyed, findsimilarbooks.com is here to assist.
            We are continuously improving our system to ensure that the recommendations remain accurate and relevant, 
            making findsimilarbooks.com a reliable resource for readers seeking thoughtful and informed book suggestions.
            If you find bugs or have feature requests please open an issue on <a href="https://github.com/kretronik/similarbooks/issues" target="_blank" rel="nofollow noopener">GitHub</a>.
            <br><br>
            Thank you for choosing findsimilarbooks.com for your reading journey.
        </p>
    </div>
{% endblock %}
