{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>About</h1>
        <p>
            Welcome to findsimilarbooks.com, your book discovery platform! 
            Our recommendation system helps you find books similar to the ones you already love. 
            Simply enter a book title, and we'll suggest titles with matching themes, genres, writing styles, or even author vibes. 
            Whether you're a fan of gripping thrillers, cozy romances, or thought-provoking non-fiction, findsimilarbooks.com makes it easy to explore new reads that fit your tastes. 
            Perfect for bookworms seeking their next great read or those looking to dive deeper into their favorite genres.
            <br><br>
            Discover your next favorite book today!
        </p>
    </div>
{% endblock %}
