{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>About</h1>
        <p>
            similarbooks ist ein Tool welches Immobilien-Investoren und Mietern dabei hilft interessante Angebote zu filtern und automatisch benachrichtigt zu werden.
            Dieses Tool wird von der <a href="https://kretronik.com/">Kretronik GmbH</a> stetig weiter entwickelt und verbessert.
            Wir sind über jede Art von <a href="https://github.com/kretronik/similarbooks/issues">Feedback</a> und Verbesserungen dankbar.
        </p>
    </div>
{% endblock %}
