{% extends "layout.html" %}
{% block content %}
<br>
<br>
<section class="pb-5">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1>Datenschutzbestimmungen von similarbooks.net</h1>
          <p>
            Wir freuen uns über Ihr Interesse an unserer similarbooks.net-Webseite. Der Schutz Ihrer personenbezogenen Daten bei
            der Erhebung, Verarbeitung und Nutzung anlässlich Ihres Besuchs auf unserer Webseite im Rahmen der
            gesetzlichen Vorschriften ist uns ein wichtiges Anliegen.
          </p>
          <p>
            Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung
            (DSGVO), ist:
          </p>
          <p>
            Kretronik GmbH<br>
            Schusterbauerstraße 13<br>
            84508 Burgkirchen<br>
            Bayern, Deutschland<br>
            Rechtsform: GmbH<br>
            <br>
            Geschäftsführer: Viktor Kreschenski<br>
            Registergericht: Amtsgericht Traunstein<br>
            Registernummer: HRB 31999<br>
            Umsatzsteueridentifikationsnummer: DE342763659<br>
          </p>
          <p>
            Wenn Sie Fragen zum Datenschutz haben, von Ihren Rechten als betroffene Person Gebrauch machen wollen oder
            Einwilligungen widerrufen möchten, erreichen Sie uns per E-Mail unter
            <a href="mailto:support@similarbooks.net">support@similarbooks.net</a> oder telefonisch unter +4917697980772.
          </p>
          <h2>1. Ihre Betroffenenrechte</h2>
          <p>Unter den angegebenen Kontaktdaten können Sie jederzeit folgende Rechte ausüben:</p>
          <ul>
            <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
            <li>Berichtigung unrichtiger personenbezogener Daten,</li>
            <li>Löschung Ihrer bei uns gespeicherten Daten,</li>
            <li>
              Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht
              löschen dürfen,
            </li>
            <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und</li>
            <li>
              Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns
              abgeschlossen haben.
            </li>
          </ul>
          <p>
            Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft
            widerrufen.
          </p>
          <p>
            Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden. Ihre
            zuständige Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes, Ihrer Arbeit oder der
            mutmaßlichen Verletzung. Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift
            finden Sie unter:
            <a href="https://www.bfdi.bund.de/DE/Service/Anschriften/anschriften_table.html" target="_blank" rel="nofollow noopener">https://www.bfdi.bund.de/DE/Service/Anschriften/anschriften_table.html</a>.
          </p>
          <h2>2. Verarbeitung personenbezogener Daten im Rahmen der Vertragserfüllung</h2>
          <p>
            similarbooks.net erhebt, verarbeitet und nutzt personenbezogene Daten, um Ihnen die Inanspruchnahme der
            similarbooks.net-Dienste zu ermöglichen. Mit Ihrer Online-Registrierung stimmen Sie einer Nutzung dieser zum Zwecke
            der Vertragserfüllung zu. Diese Daten können jederzeit in Ihrem Benutzerkonto eingesehen und geändert bzw.
            ergänzt werden.
          </p>
          <h2>3. Nutzung und Weitergabe personenbezogener Daten</h2>
          <p>
            Personenbezogene Daten werden ohne Ihre Genehmigung Dritten nicht zugänglich gemacht, es sei denn, dass dies
            aufgrund gesetzlicher oder behördlicher Anordnung oder im Rahmen der Vertragserfüllung erfolgen muss.
            similarbooks.net ist dabei insbesondere berechtigt, Abrechnungsdaten des Kunden an die mit dem Einzug des Entgelts
            beauftragten Dritten zu übermitteln, soweit es zu diesem Zweck erforderlich ist.
          </p>
          <h2>4. Verarbeitung und Weitergabe anonymisierter Nutzerprofile</h2>
          <p>
            similarbooks.net erstellt unter der Voraussetzung Ihrer vorherigen ausdrücklichen Einwilligung Nutzerprofile für die
            Zwecke Werbung, Marktforschung und bedarfsgerechte Gestaltung des similarbooks.net Webdienstes. Diese werden
            vollkommen anonymisiert angefertigt und für die Erstellung von Statistiken genutzt und weiterverarbeitet.
            Hierbei werden insbesondere Angaben zu den von Ihnen gesuchten Informationen gesammelt und ausgewertet.
            Rückschlüsse auf Ihre Person sind dabei nach der Anonymisierung nicht mehr möglich. Ihre hierzu erteilte
            Einwilligung können Sie selbstverständlich ohne Angabe von Gründen jederzeit mit Wirkung für die Zukunft
            widerrufen.
          </p>
          <h2>5. Löschung gespeicherter Daten</h2>
          <p>
            Eine Löschung der gespeicherten personenbezogenen Daten erfolgt, wenn Sie Ihre Einwilligung zur Speicherung
            widerrufen, ihre Kenntnis zur Erfüllung des mit der Speicherung verfolgten Zwecks nicht mehr erforderlich ist
            oder die Speicherung aus sonstigen, gesetzlichen Gründen unzulässig ist. Mit Beendigung und Abwicklung des
            Vertrags werden Ihre personenbezogenen Daten gelöscht.
          </p>
          <h2>6. Google Tag Manager</h2>
          <p>
            Wir verwenden in unserem Onlineangebot den Google Tag Manager der Google LLC („Google“), mit dem wir
            sogenannte Website-Tags verwalten können. Der Tag Manager selbst verarbeitet keine personenbezogenen Daten der
            Nutzer. Im Hinblick auf die Verarbeitung der personenbezogenen Daten wird auf die folgenden
            Nutzungsrichtlinien zu den Google-Diensten verwiesen:
            <a href="https://www.google.com/intl/de/tagmanager/use-policy.html" target="_blank">https://www.google.com/intl/de/tagmanager/use-policy.html</a>
          </p>
          <h2>7. Google Analytics</h2>
          <p>
            Wir setzen auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und
            wirtschaftlichem Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Google Analytics,
            einen Webanalysedienst der Google LLC („Google“) ein. Google verwendet Cookies. Die durch das Cookie erzeugten
            Informationen über Benutzung unseres Onlineangebotes durch die Nutzer werden in der Regel an einen Server von
            Google in den USA übertragen und dort gespeichert.
          </p>
          <p>
            Google wird diese Informationen in unserem Auftrag benutzen, um die Nutzung unseres Onlineangebotes durch die
            Nutzer auszuwerten, um Reports über die Aktivitäten innerhalb dieses Onlineangebotes zusammenzustellen und um
            weitere, mit der Nutzung dieses Onlineangebotes und der Internetnutzung verbundene Dienstleistungen, uns
            gegenüber zu erbringen. Dabei können aus den verarbeiteten Daten pseudonyme Nutzungsprofile der Nutzer
            erstellt werden.
          </p>
          <p>
            Google ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europäische
            Datenschutzrecht einzuhalten.
            <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active" target="_blank">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>
          </p>
          <p>
            Wir setzen Google Analytics nur mit aktivierter IP-Anonymisierung ein. Das bedeutet, die IP-Adresse der Nutzer
            wird von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
            Abkommens über den Europäischen Wirtschaftsraum gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an
            einen Server von Google in den USA übertragen und dort gekürzt.
          </p>
          <p>
            Die vom Browser des Nutzers übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
            Die Nutzer können die Speicherung der Cookies durch eine entsprechende Einstellung ihrer Browser-Software
            verhindern. Die Nutzer können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung
            des Onlineangebotes bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern,
            indem sie das unter folgendem Link verfügbare Browser-Plugin herunterladen und installieren:
            <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>
          </p>
          <p>
            Weitere Informationen zur Datennutzung durch Google, Einstellungs- und Widerspruchsmöglichkeiten, erfahren Sie
            in der Datenschutzerklärung von Google
            (<a href="https://policies.google.com/technologies/ads" target="_blank">https://policies.google.com/technologies/ads</a>)
            sowie in den Einstellungen für die Darstellung von Werbeeinblendungen durch Google
            (<a href="https://adssettings.google.com/authenticated" target="_blank">https://adssettings.google.com/authenticated</a>).
          </p>
          <p>Die personenbezogenen Daten der Nutzer werden nach 14 Monaten gelöscht oder anonymisiert.</p>
          <h2>8. Google AdSense</h2>
          <p>
            Diese Website benutzt Google Adsense, einen Webanzeigendienst der Google Inc., USA (''Google''). Google
            Adsense verwendet sog. ''Cookies'' (Textdateien), die auf Ihrem Computer gespeichert werden und die eine
            Analyse der Benutzung der Website durch Sie ermöglicht. Google Adsense verwendet auch sog. ''Web Beacons''
            (kleine unsichtbare Grafiken) zur Sammlung von Informationen. Durch die Verwendung des Web Beacons können
            einfache Aktionen wie der Besucherverkehr auf der Webseite aufgezeichnet und gesammelt werden. Die durch den
            Cookie und/oder Web Beacon erzeugten Informationen über Ihre Benutzung diese Website (einschließlich Ihrer
            IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese
            Informationen benutzen, um Ihre Nutzung der Website im Hinblick auf die Anzeigen auszuwerten, um Reports über
            die Websiteaktivitäten und Anzeigen für die Websitebetreiber zusammenzustellen und um weitere mit der
            Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese
            Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte
            diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten
            der Google in Verbindung bringen. Das Speichern von Cookies auf Ihrer Festplatte und die Anzeige von Web
            Beacons können Sie verhindern, indem Sie in Ihren Browser-Einstellungen ''keine Cookies akzeptieren'' wählen
            (Im MS Internet-Explorer unter ''Extras > Internetoptionen > Datenschutz > Einstellung''; im Firefox unter
            ''Extras > Einstellungen > Datenschutz > Cookies''); wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
            gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung
            dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor
            beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
          </p>
          <h2>9. Log-Dateien</h2>
          <p>
            Bei jedem Seitenaufruf werden Zugriffsdaten in einer Protokolldatei, dem Server-Log, gespeichert. similarbooks.net
            verwendet diese Protokolldaten (Logs) anonymisiert (also ohne Zuordnung oder Hinweise auf Ihre Person) für
            statistische Auswertungen und zur Fehlersuche zum Zwecke der Weiterentwicklung der similarbooks.net-Webseite.
            similarbooks.net verknüpft die im Server-Log gespeicherten Seitenabrufe und Nutzungen nicht mit einzelnen Personen.
          </p>
          <p>
            similarbooks.net behält sich vor, Logs nachträglich über die letzte bekannte IP-Adresse im Einzelfall zu überprüfen,
            wenn aufgrund bestimmter Tatsachen der Verdacht besteht, dass die similarbooks.net-Webseite und/oder die
            similarbooks.net-Dienste gesetzes- oder vertragswidrig genutzt werden.
          </p>
          <h2>10. Cookies</h2>
          <p>
            Die similarbooks.net Webseite verwendet an mehreren Stellen so genannte Cookies. Sie dienen dazu, das similarbooks.net
            Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem
            Gerät abgelegt werden und die Ihr Browser speichert. Die meisten der von uns verwendeten Cookies sind so
            genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs bzw. nach erfolgtem Logout automatisch
            gelöscht. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.
          </p>
          <h2>11. Sicherheitshinweis</h2>
          <p>
            similarbooks.net ist bemüht, personenbezogene Daten durch Ergreifen aller technischen und organisatorischen
            Möglichkeiten so zu speichern, dass diese für Dritte nicht zugänglich sind. Als Dritte in diesem Sinne gelten
            nicht die Organe, von denen Sie Informationen beziehen bzw. an die sie Informationen weiterleiten. Bei der
            Kommunikation per E-Mail kann die vollständige Datensicherheit von similarbooks.net nicht gewährleistet werden, so
            dass wir bei vertraulichen Informationen den Postweg empfehlen.
          </p>
          <p>
            Denken Sie bitte daran, dass Sie immer dann, wenn Sie freiwillig persönliche Informationen online bekannt
            geben (z.B. per E-Mail), diese von anderen gesammelt und verwendet werden können. Sie könnten also
            unerwünschte Nachrichten erhalten, wenn Sie in Bereichen mit öffentlichem Zugriff persönliche Informationen
            online bereitstellen. Handeln Sie online stets vorsichtig und verantwortungsvoll und achten Sie auf die
            Geheimhaltung Ihres Passwortes und/oder sonstiger persönlicher Informationen.
          </p>
          <h2>12. Änderung der Datenschutzbestimmungen</h2>
          <p class="mb-0">
            Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen
            Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B.
            bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
