{% extends "layout.html" %}
{% block content %}
<br>
<div style="margin: 30px auto; max-width: 800px;">
    <h4 style="text-align: left; margin-bottom: 20px;">
        <a href="{{ real_estate['url'] }}" target="_blank" rel="nofollow noopener">{{ real_estate["title"] }}</a>
    </h4>
    <div id="map"></div>
    <table class="table table-striped table-bordered" style="background-color: #222222; font-size: 12px;">
        <tbody>
            <tr>
                <th>Datum</th>
                <td>{{ real_estate["uptime_date"] }}</td>
            </tr>
            {% if real_estate["action"] == "kaufen" %}
                {% if real_estate["price"] is not none %}
                    <tr>
                        <th>Preis</th>
                        <td>{{ "{:,.2f}".format(real_estate["price"]) }} €</td>
                    </tr>
                {% endif %}
                {% if real_estate["price_per_square_meter"] is not none %}
                    <tr>
                        <th>Preis pro m²</th>
                        <td>{{ "{:,.2f}".format(real_estate["price_per_square_meter"]) }} €/m²</td>
                    </tr>
                {% endif %}
                {% if real_estate["maintenance_price"] is not none %}
                    <tr>
                        <th>Hausgeld mtl.</th>
                        <td>{{ "{:,.2f}".format(real_estate["maintenance_price"]) }} €</td>
                    </tr>
                {% endif %}
            {% elif real_estate["action"] == "mieten" %}
                {% if real_estate["rent_price"] is not none %}
                    <tr>
                        <th>Miete mtl.</th>
                        <td>{{ "{:,.2f}".format(real_estate["rent_price"]) }} €</td>
                    </tr>
                {% endif %}
                {% if real_estate["rent_per_square_meter"] is not none %}
                    <tr>
                        <th>Miete pro Quadratmeter mtl.</th>
                        <td>{{ "{:,.2f}".format(real_estate["rent_per_square_meter"]) }} € pro m²</td>
                    </tr>
                {% endif %}
            {% endif %}
            {% if real_estate["square_meter"] is not none %}
                <tr>
                    <th>Fläche</th>
                    <td>{{ real_estate["square_meter"] }} m²</td>
                </tr>
            {% endif %}
            {% if real_estate["city"] is not none %}
                <tr>
                    <th>Stadt</th>
                    <td>{{ real_estate["city"] }}</td>
                </tr>
            {% endif %}
            {% if real_estate["year_of_construction"] is not none %}
                <tr>
                    <th>Baujahr</th>
                    <td>{{ real_estate["year_of_construction"] | extract_year }}</td>
                </tr>
            {% endif %}
            {% if real_estate["rooms"] is not none %}
                <tr>
                    <th>Zimmer</th>
                    <td>{{ real_estate["rooms"] }}</td>
                </tr>
            {% endif %}
            {% if real_estate["most_recent_price_change"] is not none %}
                <tr>
                    <th>Preis vorher</th>
                    <td>{{ "{:,.2f}".format(real_estate["most_recent_price_change"]) }} €</td>
                </tr>
            {% endif %}
            {% if real_estate["som_model_rent"] is not none %}
                <tr>
                    <th>Marktmiete mtl.</th>
                    <td>{{ "{:,.2f}".format(real_estate["som_model_rent"]) }} €</td>
                </tr>
            {% endif %}
            {% if real_estate["som_model_price"] is not none %}
                <tr>
                    <th>Marktpreis</th>
                    <td>{{ "{:,.2f}".format(real_estate["som_model_price"]) }} €</td>
                </tr>
            {% endif %}
            {% if real_estate["som_model_percentage"] is not none %}
                <tr>
                    {% if real_estate["action"] == "kaufen" %}<th>Marktpreis %</th>{% else %}<th>Marktmiete mtl. %</th>{% endif %}
                    <td>{{ "{:,.2f}".format(real_estate["som_model_percentage"] * 100) }} %</td>
                </tr>
            {% endif %}
            {% if real_estate["cashflow"] is not none %}
                <tr>
                    <th>Cashflow ({{ "{:,.0f}".format(cashflow_parameter["equity_percentage"] * 100) }}% Eigenkapital, {{ "{:,.1f}".format(cashflow_parameter["interest"] * 100) }}% Zinsen, {{ "{:,.1f}".format(cashflow_parameter["repayment"] * 100) }}% Tilgung)</th>
                    <td>{{ "{:,.2f}".format(real_estate["cashflow"]) }} €</td>
                </tr>
            {% endif %}
            {% if real_estate["roi"] is not none %}
                <tr>
                    <th>Brutto-Mietrendite (ROI)</th>
                    <td>{{ "{:,.2f}".format(real_estate["roi"] * 100) }} %</td>
                </tr>
            {% endif %}
            {% if real_estate.similar_real_estates|length >0 %}
                <tr>
                    <th>Gleiche Immobilie(n)</th>
                    <td>
                        <ul style="list-style-type: none; margin-bottom: 0;">
                            {% for immo_id, sreal_estate in real_estate.similar_real_estates.items() %}
                                {% if real_estate["action"] == "kaufen" %}
                                    <li>{{ sreal_estate['uptime_date'] }} | {{ "{:,.2f}".format(sreal_estate['price']) }} € | <a href='{{ sreal_estate["url"] }}' target="_blank" rel="nofollow noopener">{{ sreal_estate["spider"] }}</a></li>
                                {% else %}
                                    <li>{{ sreal_estate['uptime_date'] }} | {{ "{:,.2f}".format(sreal_estate['rent_price']) }} € | <a href='{{ sreal_estate["url"] }}' target="_blank" rel="nofollow noopener">{{ sreal_estate["spider"] }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="text-center" style="margin-top: 20px;">
        <button class="btn {% if is_bookmarked %}btn-info{% else %}btn-outline-info{% endif %}" 
            type="button" 
            id="bookmarkButton" 
            data-is-authenticated="{{ is_authenticated }}"
            title="{% if is_bookmarked %}Immobilie löschen{% else %}Immobilie speichern{% endif %}">
            <i class="fa fa-save"></i> {% if is_bookmarked %}Gespeichert{% else %}Speichern{% endif %}
        </button>
    </div>
</div>
<script>
    const current_url = new URL(window.location.href);
    const is_wohnung_visible = current_url.href.includes('wohnung');
    const is_haus_visible = current_url.href.includes('haus');
    const full = location.protocol + '//' + location.host;
    let estate_type = "";
    if(is_wohnung_visible){
        estate_type = "wohnung";
    }

    if(is_haus_visible){
        estate_type = "haus";
    }

    // This block is for the cashflow parameters which can be passed to the detailed page
    const params = new URLSearchParams(current_url.search);
    const desiredParams = ["repayment", "interest", "equity_percentage"];
    const newParams = new URLSearchParams();
    desiredParams.forEach(param => {
        if (params.has(param)) {
            newParams.append(param, params.get(param));
        }
    });
    const parameterString = newParams.toString() ? `?${newParams.toString()}` : '';
    
    var map = L.map('map').setView([{{ real_estate["lat"] }}, {{ real_estate["lon"] }}], 13);
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    /*Legend specific*/
    var legend = L.control({ position: "bottomleft" });

    legend.onAdd = function(map) {
        var div = L.DomUtil.create("div", "legend");
        div.innerHTML += "<h4>Vergleichsangebote</h4>";
        div.innerHTML += '<i style="background: red"></i><span>Aktuelle Immobilie</span><br>';
        div.innerHTML += '<i style="background: #9c2ccb"></i><span>Zu verkaufen</span><br>';
        div.innerHTML += '<i style="background: #3187cc""></i><span>Zu mieten</span><br>';
        return div;
    };

    legend.addTo(map);

    function saveBookmarkDataLink(event) {
        var isAuthenticated = this.getAttribute('data-is-authenticated') === 'True';
        if (!isAuthenticated) {
            window.location.href = '/register';
        } else {
            var currentUrl = window.location.href; 
            var bookmarkButton = document.getElementById('bookmarkButton');
            var isBookmarked = bookmarkButton.classList.toggle('active'); 
            if(!isBookmarked){
                fetch('/bookmark', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ durl: currentUrl })
                })
                bookmarkButton.classList.remove('btn-info');
                bookmarkButton.classList.add('btn-outline-info');
                bookmarkButton.title = "Immobilie speichern";
                bookmarkButton.innerHTML = '<i class="fa fa-save"></i> Speichern';
            } else {
                // Send the URL to Flask server via POST request
                fetch('/bookmark', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ url: currentUrl })
                })
                bookmarkButton.classList.remove('btn-outline-info');
                bookmarkButton.classList.add('btn-info');
                bookmarkButton.title = "Immobilie löschen";
                bookmarkButton.innerHTML = '<i class="fa fa-save"></i> Gespeichert';
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var isBookmarked = {{ is_bookmarked | tojson }}; // Convert the boolean to a JavaScript boolean
        var bookmarkButton = document.getElementById('bookmarkButton');

        if (isBookmarked) {
            bookmarkButton.classList.add('active');
            bookmarkButton.classList.remove('btn-outline-info');
            bookmarkButton.classList.add('btn-info');
            bookmarkButton.title = "Immobilie löschen";
            bookmarkButton.innerHTML = '<i class="fa fa-save"></i> Gespeichert';
        } else {
            bookmarkButton.classList.remove('active');
            bookmarkButton.classList.add('btn-outline-info');
            bookmarkButton.classList.remove('btn-info');
            bookmarkButton.title = "Immobilie speichern";
            bookmarkButton.innerHTML = '<i class="fa fa-save"></i> Speichern';
        }
    });

    document.getElementById('bookmarkButton').addEventListener('click', saveBookmarkDataLink);

    // Function to get marker color
    function getIcon(color) {
        return new L.Icon({
            iconUrl: `https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-${color}.png`,
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
    }

    spider_logos = {
        "immowelt": "https://upload.wikimedia.org/wikipedia/commons/2/26/Immowelt_2021_logo.svg",
        "kleinanzeigen": "https://themen.kleinanzeigen.de/media/files/d6/3e/d63e6861-498c-4123-a08d-6f8033055581/ka_horizontal_lightgreen_rgb.png",
        "ohnemakler": "https://pictures.immobilienscout24.de/usercontent/360d6609-e322-4b36-81a5-39dcc32f9152.PNG",
        "immoscout": "https://www.immobilien1996.de/wp-content/uploads/go-x/u/d1829517-2bcd-4906-ba38-ddd41909c406/l0,t0,w300,h168/image.png",
    }

    var markers = L.markerClusterGroup();
    // Add multiple markers
    {% if real_estate.clustered_real_estates is not none %}
        {% for marker in real_estate.clustered_real_estates %}
            {% if real_estate["immo_id"] != '{{ marker.immo_id }}' %}
                {% set iconOpacity = 1.0 if marker.is_active else 0.7 %}
                {% if marker["action"] == 'kaufen' %}
                    {% set marker_color = 'red' if marker.immo_id in real_estate.similar_real_estates else 'violet' %}
                    markers.addLayer(L.marker([{{ marker.lat }}, {{ marker.lon }}], {icon: getIcon('{{ marker_color }}'), opacity: {{ iconOpacity }}})
                    .bindPopup(
                        '<a href="{{ marker.url }}" target="_blank"><img src="' + spider_logos["{{ marker.spider }}"] + '" alt="Logo" style="width:50px;height:auto;"></a><br>' +
                        '<a href="' + full + '/' +  estate_type +   '/{{ marker.immo_id }}/' + parameterString +'">{{ marker.title | escape | replace("\n", "\\n") }}</a>'+
                        '<br>Datum: {{ marker.uptime_date }}'+
                        '{% if marker.price is not none %}<br>Preis: {{ "{:,.2f}".format(marker.price) }} €{% endif %}'+
                        '<br>Fläche: {{ marker.square_meter }} m²'+
                        '{% if marker.price_per_square_meter is not none %}<br>Preis/m²: {{ "{:,.2f}".format(marker.price_per_square_meter) }} €{% endif %}'+
                        '{% if marker.year_of_construction is not none %}<br>Baujahr: {{ marker.year_of_construction | extract_year }}{% endif %}'+
                        '{% if marker.rooms is not none %}<br>Zimmer: {{ marker.rooms }}{% endif %}'
                    ));
                {% elif marker["action"] == 'mieten' %}
                    {% set marker_color = 'red' if marker.immo_id in real_estate.similar_real_estates else 'blue' %}
                    markers.addLayer(L.marker([{{ marker.lat }}, {{ marker.lon }}], {icon: getIcon('{{ marker_color }}'), opacity: {{ iconOpacity }}})
                    .bindPopup(
                        '<a href="{{ marker.url }}" target="_blank"><img src="' + spider_logos["{{ marker.spider }}"] + '" alt="Logo" style="width:50px;height:auto;"></a><br>' +
                        '<a href="' + full + '/' + estate_type + '/{{ marker.immo_id }}">{{ marker.title | escape | replace("\n", "\\n") }}</a>'+
                        '<br>Datum: {{ marker.uptime_date }}'+
                        '{% if marker.rent_price is not none %}<br>Miete: {{ "{:,.2f}".format(marker.rent_price) }} €{% endif %}'+
                        '<br>Fläche: {{ marker.square_meter }} m²'+
                        '{% if marker.rent_per_square_meter is not none %}<br>Miete/m²: {{ "{:,.2f}".format(marker.rent_per_square_meter) }} €{% endif %}'+
                        '{% if marker.year_of_construction is not none %}<br>Baujahr: {{ marker.year_of_construction | extract_year }}{% endif %}'+
                        '{% if marker.rooms is not none %}<br>Zimmer: {{ marker.rooms }}{% endif %}'
                    ));
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    L.marker([{{ real_estate["lat"] }}, {{ real_estate["lon"] }}], {icon: getIcon('red')}).addTo(map)
        .bindPopup('<a href="{{ real_estate.url }}" target="_blank"><img src="' + spider_logos["{{ real_estate.spider }}"] + '" alt="Logo" style="width:50px;height:auto;"></a><br>{{ real_estate.title | escape | replace("\n", "\\n") }}')
        .openPopup();
    map.addLayer(markers);
</script>
{% endblock %}
