{% extends "layout.html" %}
{% block content %}
<br><br><br><br>
<form action="{{ url_for('main.index') }}" method="POST">
    {{ search_form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {% if search_form.title.errors %}
                {{ search_form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in search_form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ search_form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        {{ search_form.submit(class="btn btn-outline-info") }}
    </fieldset>
</form>

{% if books|length >0 %}
<h4>Results</h4>
{% endif %}
<ul style="list-style-type: none;">
    {% for book in books %}
        <li><a href="{{ url_for('main.detailed_book', sha=book['node']['sha']) }}" rel="nofollow noopener">{{ book['node']['title'] }}</a> by {{ book['node']['author'] }}</li>
    {% endfor %}
</ul>
{% endblock %}
