{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<form action="{{ url_for('main.index') }}" method="POST">
    {{ search_form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {% if search_form.title.errors %}
                {{ search_form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in search_form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ search_form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group text-center", id="search-btn">
        {{ search_form.submit(class="btn btn-outline-info") }}
    </div>
</form>
<ul style="list-style-type: none; margin-bottom: 0;">
    {% for book in books %}
        <li><a href='{{ book["node"]["url"] }}' target="_blank" rel="nofollow noopener">{{ book['node']['title'] }}</a> by {{ book['node']['author'] }}</li>
    {% endfor %}
</ul>
{% endblock %}
