{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2>Impressum</h2>
        Kretronik GmbH<br>
        Schusterbauerstraße 13<br>
        84508 Burgkirchen<br>
        Bayern, Deutschland<br>
        <br>
        <b>Geschäftsführer:</b> Viktor Kreschenski<br>
        <b>Handelsregister:</b> Amtsgericht Traunstein HRB 31999<br>
        <b>Umsatzsteuer-ID:</b> DE342763659<br>
        <b>E-mail:</b> viktor.kreschenski@kretronik.com<br>
        <b>Telefon:</b> +4917697980772<br>
        <b>Web:</b> <a href="https://kretronik.com" target="_blank">https://kretronik.com</a><br>
        <b>Inhaltlich Verantwortlich:</b> Viktor Kreschenski<br>
        <br>
        <h4>Haftungshinweis</h4>
        Angaben auf dieser Webseite erfolgen ohne Gewähr.
        <br>
        <h4>Haftung für Links</h4>
        Die aufgeführten externen Links führen zu Inhalten fremder Anbieter. 
        Für diese Inhalte ist allein der jeweilige Anbieter verantwortlich. 
        Bei Bekanntwerden von Rechtsverletzungen werden diese Links umgehend entfernt.
    </div>
{% endblock %}
