<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R3NGGRF6HC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R3NGGRF6HC');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if description %}{{ description }}{% else %}Welcome to findsimilarbooks.com, your personalized book discovery platform!{% endif %}">
    <meta property="og:title" content="{% if title %}similarbooks - {{ title }}{% else %}similarbooks{% endif %}">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}Welcome to findsimilarbooks.com, your personalized book discovery platform!{% endif %}">
    <meta name="keywords" content="similar books, book recommendations, find similar books, book discovery, book suggestion, personalized book recommendations, book search, book finder, book recommendation engine">
    {% if title %}
        <title>Find Similar Books - {{ title }}</title>
    {% else %}
        <title>Find Similar Books</title>
    {% endif %}

    <!--Inter UI font-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="/static/css/default.css" id="theme-color">
    <style>
        .bg-hero {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

<!-- Navigation -->
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                Find Similar Books
            </a>
        </nav>
    </div>
</section>

<main role="main" class="container">
    <div class="col">
        {% block content %}{% endblock %}
        <br>
        <div class="col-md-7 mx-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</main>

<!--footer-->
<footer class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mr-auto">
                <h5><a href="https://github.com/kretronik/similarbooks/issues" target="_blank" rel="nofollow noopener">Support</a></h5>
                <p class="text-muted">
                    For support, questions, bug reports or feature requests, please open an issue on <a href="https://github.com/kretronik/similarbooks/issues" target="_blank" rel="nofollow noopener">GitHub</a>.
                </p>
                <ul class="list-inline footer-social-icons">
                    <li class="list-inline-item">
                        <a href="https://kretronik.com" target="_blank"><i class="fa fa-home"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.kreschenski.com/" target="_blank"><i class="fa fa-book"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.github.com/kretronik/similarbooks/issues" target="_blank" rel="nofollow noopener"><i class="fa fa-github-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/kretronik/" target="_blank" rel="nofollow noopener"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('main.legal') }}">Terms of Use</a></li>
                    <li><a href="{{ url_for('main.impressum') }}">Imprint</a></li>
                    <li><a href="{{ url_for('main.datenschutz') }}">Data Privacy</a></li>
                    <li><a href="{{ url_for('main.about') }}">About</a></li>
                </ul>
            </div>
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2024 Kretronik GmbH - All Rights Reserved
            </div>
        </div>
    </div>
</footer>

<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

</body>
</html>
